*{
	box-sizing: border-box;
}
a {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	color: black;
	text-decoration: none;
	padding-right: 10px;
	
}
.a-alt{
	color:grey;
}
.a-alt:hover{
	color: grey;
	text-decoration: underline;
}
.a-alt-primary{
	color:blue;
	
}
.a-alt-primary:hover{
	color: blue;
	
}
a:hover {
	color: black;
	text-decoration: underline;
}
.adv-btn{
	background-color: #4D90FE;
	color:white;
	font-size: 13px;
	padding:5px;
	float: right;
	border: 1px solid transparent;
	
}
.adv-btn:hover{
	background-color: #357ae8;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
}
.example{
	font-family: Courier, serif;
	font-size: 13px;
}
.fas{
	color:grey;
	padding:15px;
}
.foott{
	position:absolute !important;
	bottom:0px;
	z-index:1;
	border-top: 1px solid lightgrey;
	
}
.form-goog{
	width: 100%;
	border: 1px solid lightgrey;
	font-size: 13px;
	padding: 5px;
}
.form-goog:focus{
	outline: blue;
}
p[class="text-danger"]{
	font-size: 18px;
	font-weight: 400;
}
.pri-text{
	font-size: 13px;
}
#search {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px solid lightgrey;
	border-radius: 25px;
	margin-top:25px;
}
#search:hover{
	box-shadow: 0 0 3px lightgrey;
}
#search_bar{
	width:85%;
	border:none;
}
#search_bar:focus{
	outline: none;
	
}
.search_btn{
	border:1px solid transparent;
	background-color: #F8F9FA;
	padding:8px!important;
	margin: 5px!important;
	border-radius: 3px!important;
	font-size: 14px;
}
.search_btn:hover{
	border: 1px solid lightgrey;
	text-decoration: none;
}
.secd-text{
	font-size: 13px;
}
@media (max-width: 600px){
	.a-alt{
		text-align:center !important;
	}
}
@media (max-width: 992px){
	.desktop-hints{
		display: none;
	}
}
	